.fighting-container {
    position: relative;
    display: inline-block;
    font-family: 'Press Start 2P', cursive;

    canvas {
        border: 2px solid white;
    }

    .hud {
        position: absolute;
        display: flex;
        width: 100%;
        align-items: center;
        padding: 20px;

        .health-bar {
            position: relative;
            width: 100%;
            height: 30px;
            border-top: 4px solid white;
            border-bottom: 4px solid white;
            display: flex;

            &.player {
                justify-content: flex-end;
                border-left: 4px solid white;
            }

            &.enemy {
                border-right: 4px solid white;
            }

            .bar.red {
                background-color: red;
                width: 100%;
            }

            .bar.blue {
                background-color: #818cf8;
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;
            }
        }

        .health-bar.player .bar.blue {
            right: 0;
        }

        .health-bar.enemy .bar.blue {
            left: 0;
        }

        .timer {
            background-color: black;
            width: 100px;
            height: 50px;
            color: white;
            border: 4px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
        }
    }

    .countdown-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 120px;
        font-weight: bold;
        text-shadow:
            -4px -4px 0 #000,
            4px -4px 0 #000,
            -4px 4px 0 #000,
            4px 4px 0 #000,
            0 -4px 0 #000,
            0 4px 0 #000,
            -4px 0 0 #000,
            4px 0 0 #000;
        z-index: 100;
        display: none;
        pointer-events: none;
    }

    .display-text {
        position: absolute;
        color: white;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        font-size: 1rem;
    }
}