@import '../../scss/index.scss';
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 24px;

    button {
        padding: 8px 14px;
        font-size: 16px;
        border: none;
        border-radius: 12px;
        background-color: #f0f0f0;
        color: #333;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        &:hover:not(:disabled) {
            background: lighten($color-primary, 10%);
            color: #fff;
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
        }

        &:disabled {
            background-color: #e0e0e0;
            color: #aaa;
            cursor: not-allowed;
        }

        &.active {
            background-color: $color-primary;
            color: #fff;
            font-weight: bold;
            transform: scale(1.05);
            box-shadow: 0 4px 10px rgb(249, 200, 255);
        }
    }
}