.sprite-canvas-container {
    display: inline-block;
    position: relative;

    .sprite-canvas {
        display: block;
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
    }
}