.hero-slider {
    width: 100%;

    .swiper {
        width: 100%;
        height: 500px;
    }

    .hero-slider__item {
        display: flex;
        gap: 10px;
        height: 100%;

        &__left {
            flex: 2;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 12px;
            }
        }

        &__right {
            flex: 1;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 8px;

            &__img {
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: white;
    }

    .swiper-pagination-bullet {
        background: white;
    }

    @media (max-width: 768px) {
        .hero-slider__item {
            flex-direction: column;

            &__right {
                display: none;
            }
        }
    }
}