@import '../../scss/index.scss';
.chapter-card {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px;
    background: $color-surface;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;

    &.active {
        border: 2px solid $color-primary;
        background-color: $color-surface;
    }

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    &__cover {
        flex-shrink: 0;
        width: 80px;
        height: 100px;
        overflow: hidden;
        border-radius: 8px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .chapter-card__title {
            font-size: 1.1rem;
            font-weight: bold;
            margin-bottom: 6px;
            transition: color 0.3s;
        }

        .chapter-card__date {
            font-size: 0.9rem;
            color: #777;
        }
    }

    &:hover .chapter-card__title {
        color: $color-primary; // màu cam khi hover
    }

    @media (max-width: 768px) {
        flex-direction: row;

        &__cover {
            width: 60px;
            height: 80px;
        }

        .chapter-card__title {
            font-size: 1rem;
        }
    }
}

.load-more-btn {
    margin: 1rem auto;
    display: block;
    padding: 0.5rem 1rem;
    font-weight: bold;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
        background-color: #2980b9;
    }
}