.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Chiều cao toàn màn hình */
}

.loadingio-spinner-spinner-we6nz9vlz8 {
    width: 100px;
    height: 100px;
}

.ldio-86jo8zq5pla div {
    /* Các thuộc tính CSS cho các phần tử con */
}