
.home-page {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    .main-content {
        display: flex;
        justify-content: center;
        background-color: white;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 5px 20px 0 #777;
        flex: 3;
    }

    .sidebar {
        flex: 1;
    }
}