@each $color,
$val in $colors {
    .color-#{$color} {
        color: $val;
    }
    .bg-#{$color} {
        background-color: $val;
    }
}

@each $val in $numbers {
    .grid-col-#{$val} {
        grid-template-columns: repeat($val, 1fr);
    }
}

@each $val in $numbers {
    .grid-col-md-#{$val} {
        @include tablet {
            grid-template-columns: repeat($val, 1fr);
        }
    }
}

@each $val in $numbers {
    .grid-col-sm-#{$val} {
        @include mobile {
            grid-template-columns: repeat($val, 1fr);
        }
    }
}

@each $val in $numbers {
    .col-#{$val} {
        width: ($val/12)*100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@each $val in $fonts {
    .fs-#{$val} {
        font-size: #{$val}px;
    }
}

@each $val in $fontw {
    .fw-#{$val/100} {
        font-weight: $val;
    }
}

@each $name, $bg in $button-colors {
    .btn-#{$name} {
        min-width: 120px;
        margin: 10px auto;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 20px;
        cursor: pointer;
        background-color: $bg;
        color: map-get($button-text-colors, $name);
        border: if($bg ==transparent, 0.5px solid #444, 0.5px solid rgba(0, 0, 0, 0.1));

        &:hover {
            @if $name !=disabled {
                background-color: darken($bg, 5%);
            }
        }

        @if $name ==disabled {
            cursor: not-allowed;
            opacity: 0.7;
        }
    }
}

@each $size, $attrs in $button-sizes {
    .btn-#{$size} {
        padding: map-get($attrs, padding);
        font-size: map-get($attrs, font-size);
    } }



.grid {
    display: grid;
}